.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: bisque;
}
.app__todo-list {
    padding-top: 20px;
}
.app__todo-list ul {
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}
.app__create-todo {
    padding-left: 100px;
    padding-top: 50px;
}